﻿@font-face {
    font-family: 'glyphicons-halflings-regular';
    src: url('../Fonts/glyphicons-halflings-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'decalled script demo version';
    src: url('../Fonts/decalled script demo version.ttf') format('truetype');
}
@font-face {
    font-family: 'Mermaid Swash Caps';
    src: url('../Fonts/Mermaid Swash Caps.ttf') format('truetype');
}
@font-face {
    font-family: 'Subway-Shadow';
    src: url('../Fonts/Subway-Shadow.ttf') format('truetype');
}
@font-face {
    font-family: 'Althea-Regular';
    src: url('../Fonts/Althea-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'SERIBL__';
    src: url('../Fonts/SERIBL__.ttf') format('truetype');
}
@font-face {
    font-family: 'Oswald-Regular';
    src: url('../Fonts/Oswald-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Anton-Regular';
    src: url('../Fonts/Anton-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'GreatVibes-Regular';
    src: url('../Fonts/GreatVibes-Regular.ttf') format('truetype');
}
header {
    background-image: url('../Images/background.png');
    height: 230px;
    color: black;
}
h1{
    margin:20px;
    font-family:GreatVibes-Regular;
    font-size:50px;
}
#aside-publicidad{
    border-radius:5px;
    text-align:justify;
    padding:20px;
}
#logo{
    margin:20px;
    height:80px;
    width:80px;
    display:inline-block;
    float:left;
}
#menu{
    padding-top:200px;
}
#titulo-logo {
    color:mistyrose;
    position: absolute;
    left: 50%;
    top: 155px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
#login {
    background-image: url('../Images/clock-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size:80px;
}
#tituloLogin{
    padding-top:130px;
    color:white;
}
#imagen-principal{
    height:600px;
    width:849px;
}
.iconoEditar {
    height:20px;
    width:20px;
}
.imageStyle{
    height:20px;
    width:20px;
    align-items:center;
}
.title{
    border-bottom:1px solid #333;
    margin-bottom:20px;
    text-align:center;
}
footer{
    border-radius:5px;
    background-color:white;
    text-align:center;
}
footer div p{
    margin:15px;
    font-size:11px;
    font-style:italic;
    color:#5D7B9D;
}
#container{
    padding:25px;
    border-radius:5px;
    background-color:white;
    margin-bottom:18px;
}
body{
    background-color:#f0f0f0;
}
.navbar{
    background-color:#5D7B9D;
    border:none;
    border-radius:5px;
}
.navbar ul li{
    list-style:none;
}
.navbar ul li a{
    color:black;
}
.jp{
    float:left;
    padding:15px 15px;
}
.jp a{
    text-decoration:none;
    font-size:16px;
}
.jp a:hover{
    color:white;
}
.jp1 a{
    text-decoration:none;
    font-size:16px;
}
.jp1{
    float:right;
    padding:15px 5px;
}
.jp1 a:hover{
    color:white;
}
