﻿.login{
    
    padding:25px;
}
.login div{
    border-right:1px solid #333;
    padding-right:20px;
    padding-bottom:5px;
}
.login-registry{
    background-color:#ececeb;
    margin-top:20px;
    border-radius:5px;
    margin-bottom:20px;
}
#logoSP{
    height:200px;
    width:200px;
    margin-left:50px;
    border-right:1px solid #333;
}
@font-face {
    font-family: 'king richard rg';
    src: url('../fonts/king richard rg.ttf') format('truetype');
}
#logo-ceet{
    height:200px;
    width:200px;
    margin:50px;
}
.about-us h1{
    font-family:king richard rg;
}
.about-us{
    background-color:#ececeb;
    margin-top:20px;
    border-radius:5px;
    text-align:center;
}
.about-us div div p{
    text-align:justify;
    padding:20px;
}
.form-ficha{
    margin-top:30px;
}
@font-face {
    font-family: 'RedVelvetica-ShadowsBold';
    src: url('../fonts/RedVelvetica-ShadowsBold.ttf') format('truetype');
}
.consultar-ficha{
    background-color:#ececeb;
    margin-top:50px;
    border-radius:5px;
}
.consultar-ficha div form{
    text-align:center;
}
.consultar-ficha div form h2{
    font-family:RedVelvetica-ShadowsBold;
    font-size:64px;
}
#students{
    float:left;
    width:380px;
    height:300px;
    margin-left:150px;
    margin-right:80px;
}
#logo-footer{
    height:90px;
    width:90px;
}
.footer-logo li{
    float:left;
    padding-left:100px;
}
.footer{
    background-color:#2E2B3A;
    padding:10px;
}
.body{
    min-height:300px;
}
.creditos{
    float:left;
    padding-left:300px;
    padding-right:300px;
    list-style:none;
}
.acesos li{
    list-style:none;
}
.footer ul li a{
    color:white;
    text-decoration:none;
    font-size:12px;
}
body {
    background-color:#f6f6f6;    
}
.header ul li{
    list-style:none;
    color:white;
}
.header ul li a{
    text-decoration:none;
    padding:inherit;
}
.menu a{
    color:black;
}
.menu:hover{
    background-color:#050810;
}
.menu a:hover{
    text-decoration:none;
    color:white;
}
nav{
    background-color:#f6f4f4;
    box-shadow:10px 10px 65px -11px rgba(0,0,0,0.75);
    border-top:3px solid #050810;

}
@font-face {
    font-family: 'GreatVibes-Regular';
    src: url('../Fonts/GreatVibes-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'SigmarOne-Regular';
    src: url('../fonts/SigmarOne-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'SquadaOne-Regular';
    src: url('../fonts/SquadaOne-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'JockeyOne-Regular';
    src: url('../fonts/JockeyOne-Regular.ttf') format('truetype');
}
.name{
    float:left;
    font-family:'JockeyOne-Regular';
    font-size:24px;
    padding:10px;
}
.name a{
    color:black;
}
.menu{
    float:right;
    padding:18px;
}
.image {
    background-image: url('../Images/Welcome_1500x250px.jpg');
    min-height: 250px;
}
.logo{
    height:50px;
    width:50px;
}
.logo-logo{
    float:left;
    padding:3px;
}
.txtFicha{
    padding-top:180px;
    opacity:0.8;
}
.btn-buscar{
    margin-left:45%;
}
